// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$redorange: #FF512F;
$content-padding: 15px 20px;
$content-padding-phone: 5px;

@mixin box-sizing-border {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@mixin prefixer($property, $value) {
	-moz-#{$property}: 		$value;
	-webkit-#{$property}: 	$value;
	#{$property}: 			$value;
}


.ui-body-a, .ui-overlay-a {
	color: #FFF;
	background: none #222;
}

nav {
	a {
		display: inline-block;
	}
}

.movie,
.album {
	
	figure {
		position: relative;
		cursor: pointer;
		@include prefixer(box-shadow, 0 1px 3px rgba(0,0,0,.75));
		min-height: 90px;
	}

	figure img {
		display: block;
	}

	.title {
		@include box-sizing-border;

		background: rgba(0,0,0,.75);
		padding: 2% 10% 2% 2%;
		width: 100%;
		font-size: 2.5em;
		line-height: 100%;
		color: rgba(255,255,255,.8);
		position: absolute;
		bottom: 0;
		text-shadow: 1px 1px 1px #333, 2px 2px 1px #000;
		
		.more {
			color: $redorange;
			vertical-align: middle;
			font-size: 1rem;
			margin-left: 1rem;
			text-shadow: none;
			white-space: nowrap;

			&:after{
				font-family: monospace;
				color: #FFF;
				content: ' +';
			}

		}
	}
	.expanded-details .more:after {
		content: ' -';
	}
	.details {
		width: 100%; /* fixes slideToggle jumping */
		margin: 0;
		padding: 0;

		h3 {
			padding-bottom: 3px;
			border-bottom: 1px solid #666;
		}

		> li {
			@include box-sizing-border;
			background: none rgba(0,0,0,.25);
			margin-left: 0;
			padding: $content-padding;
			min-height: 110px;
		}

		h3 + * {
			color: #999;
		}
	}
}

.full {
	width: 100%;
	height: auto;
}

/* MEDIA QUERY FOR PHONES */
@media only screen and (max-width: 767px), only screen and (max-width: 800px) and (max-device-pixel-ratio : 1.5) {
	body {
		font-size: 13px;
	}
	.content,
	.details > li {
		padding: $content-padding-phone;
	}
	.movie,
	.album {
		.title .more {
			/*visibility: hidden;*/
		}
		.details > li {
			float: none;
			margin: 0 0 2%;
			display: block;
			width: auto;
			min-height: 1px;
		}
	}
	
}