// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$redorange: #FF512F;
$content-padding: 15px 20px;
$content-padding-phone: 5px;

@mixin box-sizing-border {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

@mixin prefixer($property, $value) {
	-moz-#{$property}: 		$value;
	-webkit-#{$property}: 	$value;
	#{$property}: 			$value;
}

header h1 {
	font-size: 5em;
}

nav a {
	@include box-sizing-border;

	background-color: #222222;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#444444)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #222222, #444444); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #222222, #444444); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #222222, #444444); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #222222, #444444);

	color: #999;
	padding: 10px 2%;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0 !important;
	border: {
		width: 1px 1px 0;
		color: #CCC;
	}
	@include prefixer(border-radius, 5px 5px 0 0);

	&:active {
		outline: 0;
	}
}

nav.movies-nav a.movies-link,
nav.albums-nav a.albums-link  {
	color: #FFF;

	background-color: #999999;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#777777)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #999999, #777777); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #999999, #777777); /* FF3.6+ */
	background-image:      -o-linear-gradient(top, #999999, #777777); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #999999, #777777);
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
}

.movie,
.album {
	
	figure {
		position: relative;
		cursor: pointer;
		@include prefixer(box-shadow, 0 1px 3px rgba(0,0,0,.75));
		min-height: 90px;
	}

	figure img {
		display: block;
	}

	.title {
		@include box-sizing-border;

		background: rgba(0,0,0,.65);
		padding: 2%;
		width: 100%;
		font-size: 2.5em;
		line-height: 100%;
		color: #FFF;
		position: absolute;
		bottom: 0;
		text-shadow: 1px 1px 1px #333, 2px 2px 1px #000;
		
		.more {
			color: $redorange;
			vertical-align: middle;
			font-size: 1rem;
			font-weight: bold;
			margin-left: 1rem;
			text-shadow: none;
			white-space: nowrap;

			&:after{
				font-family: monospace;
				color: #FFF;
				content: ' +';
			}

		}
	}
	.expanded-details .more:after {
		content: ' -';
	}
	.details {
		width: 100%; /* fixes slideToggle jumping */
		margin: 0;
		padding: 0;

		h3 {
			padding-bottom: 3px;
			border-bottom: 1px solid #666;
		}

		> li {
			@include box-sizing-border;
			background: none rgba(0,0,0,.25);
			margin-left: 0;
			padding: $content-padding;
			min-height: 110px;
		}

		h3 + * {
			color: #999;
		}
	}
}

.full {
	width: 100%;
	height: auto;
}

/* MEDIA QUERY FOR PHONES */
@media only screen and (max-width: 767px), only screen and (max-width: 800px) and (max-device-pixel-ratio : 1.5) {
	body {
		font-size: 13px;
	}
	.content,
	.details > li {
		padding: $content-padding-phone;
	}
	.movie,
	.album {
		.title {
			font-size: 1.75em;

			.more {
				font-size: .65rem;
				float: right;
				margin-left: .5rem;
				white-space: normal;
			}
		}
		.details > li {
			float: none;
			margin: 0 0 2%;
			display: block;
			width: auto;
			min-height: 1px;
		}
	}
	
}